/* Mine Prosjekter */
.MineProsjekter{
    margin-top: 2vh;
    border-style: solid;
    border-color: #c4b6b6;
    border-width: 1px;
    height: 98vh;
    width: 20%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.MineProsjekter ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    overflow: auto;
}

.MineProsjekter li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-style: solid;
    border-right: none;
    border-width: 1px;
    border-color: #c4b6b6;
    margin-bottom: 4px;
}

.MineProsjekter li a:hover{
    background-color: rgb(77, 77, 255);
    transition: 0.2s;
    color: white;
}

.MineProsjekter form{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.MineProsjekter input{
    border-style: solid;
    border-radius: 4px;
    height: 2rem;
}

.MineProsjekter input[type="submit"]{
    font-size: 24px;
    display: inline-block;
    color: whitesmoke;
    background-color: rgb(77, 77, 255);
    border-style: none;
    margin-left: 1rem;
    height: 2rem;
    width: 4rem;
}

.MineProsjekter input[type="submit"]:hover{
transform: scale(1.2);
transition: 0.2s;
}

/* login */
.formCard{
    border-style: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 20%;
    margin: auto;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);

}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.loginForm input{
    margin-bottom: 1rem;
    border-style: solid;
    border-radius: 4px;
    height: 1.5rem;
}

.loginForm input[type="submit"]{
    display: inline-block;
    color: whitesmoke;
    background-color: rgb(64, 64, 232);
    border-style: none;
    height: 2rem;
    width: 4rem;
}

.loginForm input[type="submit"]:hover{
    transform: scale(1.2);
    transition: 0.2s;
    background-color: rgb(84, 84, 240);
}

.textcenter{
    text-align: center;
}

/* Index */
.IndexContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}


/* Beregn */
.Hydroform{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navbar styling */
nav{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
}

nav a{
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

/* Text */
.header{
    text-align: center;
}

/* Form Right */
.FormRight{
    align-items: end;
    display: flex;
    flex-direction: column;
}
/* Form Left */
.FormLeft{
    display: flex;
    flex-direction: column;
}

/* Skalering */

/* Skaleringleft */
.SkaleringLeft{
    display: flex;
    flex-direction: column;
}


.input-group:nth-child(1){
    margin-bottom: 1rem;
}

/* SkaleringRight */
.SkaleringRight{
    display: flex;
    flex-direction: column;
}


.Skalering{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SkaleringX{
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn-groupSkalering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skaleringFaktor{
    text-align: center;
    margin-bottom: 1.4rem;
}


/* Generell Css */

.btn{
    display: inline-block;
    color: whitesmoke;
    background-color: rgb(64, 64, 232);
    border-style: none;
    padding: 10px;
    margin: 5px;
}

.btn:hover{
    transform: scale(1.2);
    transition: 0.2s;
    background-color: rgb(84, 84, 240);
}

.chartbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}